<!-- ==========================
        PAGE LOADER
=========================== -->


<div id="page-loader">


    <div class="loader-wrapper">


        <div class="loader-animation">


            <div class="loader-circle"></div>


            <div class="loader-circle loader-circle-2"></div>


        </div>




        <div class="loader-logo">


            <i class="bi bi-calendar-event-fill"></i>


        </div>




        <p class="loader-text">

            Loading Eventify...

        </p>



    </div>



</div>