<footer class="dashboard-footer">



    <!-- LEFT -->

    <div class="footer-left">


        <strong>

            Eventify

        </strong>


        <span>

            © {% now "Y" %} All Rights Reserved.

        </span>



    </div>









    <!-- CENTER -->

    <div class="footer-center">


        <span>

            Smart Event Management Platform

        </span>


    </div>









    <!-- RIGHT -->

    <div class="footer-right">


        <span>

            Built with

        </span>



        <i class="bi bi-heart-fill text-danger"></i>



        <strong>

            Django

        </strong>



    </div>





</footer>